# Pandas Profiling

Pandas Profiling generates reports from data frames.

In [1]:
# To install :
# !conda install -y -c conda-forge pandas-profiling

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.1
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/jeffhale/miniconda3/envs/main

  added / updated specs:
    - pandas-profiling


The following NEW packages will be INSTALLED:

  python_abi         conda-forge/osx-64::python_abi-3.7-1_cp37m

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2019.11.28-hecc5488_0
  certifi              pkgs/main::certifi-2019.11.28-py37_1 --> conda-forge::certifi-2019.11.28-py37hc8dfbb8_1
  openssl              pkgs/main::openssl-1.1.1e-h1de35cc_0 --> conda-forge::openssl-1.1.1e-h0b31af3_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [4]:
# imports
import numpy as np
import pandas as pd
import pandas_profiling as pdp

In [5]:
# Read in the dataset 
titanic = pd.read_csv('../data/titanic.csv')

In [6]:
# Let's check first five rows
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Let's check last five rows

## Let's do some EDA

In [ ]:
# shape

In [ ]:
# info

In [ ]:
# data types

## Now let's create a report

In [7]:
# use the ProfileReport function 
pdp.ProfileReport(titanic)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

![](https://media.giphy.com/media/12NUbkX6p4xOO4/giphy.gif)

## Resources 
- [Pandas Profiling Documentation](https://pandas-profiling.github.io/pandas-profiling/docs/)
- [Speed Up Your Exploratory Data Analysis With Pandas-Profiling](https://towardsdatascience.com/speed-up-your-exploratory-data-analysis-with-pandas-profiling-88b33dc53625)

# Variable Inspector

If you are using Jupyter Lab, here's another super helpful tool. A Jupyter Lab extension named Variable Inspector. 

[Variable Inspector](https://github.com/lckr/jupyterlab-variableInspector)

From the command line in your active conda environment run: `jupyter labextension install @lckr/jupyterlab_variableinspector`

You may need to restart your Jupyter Lab environment.

When in a notebook in Jupyter Lab, right click and select `Open Variable Inspector`. I suggest you drag that tab to the side right side within Jupyter Lab to create two open tabs. Then watch the magic as you change the value of variable. ðŸŽ‰

In [25]:
my_list = [1, 3, 6]

In [26]:
my_list.append(2)

In [29]:
my_list[3] + 5

7