In [7]:
''' 
Write a function that takes in a list and returns a new, reversed version of the list.
Do not use the list object's .reverse() method.


# Example performance:

>>> reverse_array([1, 2, 3, 4, 5])
[5, 4, 3, 2, 1]

>>> reverse_array(['apple', 'boat', 'cat', 'dog'])
['dog', 'cat', 'boat', 'apple']
'''

def reverse_array(my_list):

    # Replace the line below with all your code. Remember to return the requested data.
    return my_list[1:10:3]



# call the function to check it

[1, 4, 7]

In [9]:
a_list = list(range(12))

In [10]:
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
reverse_array(a_list)

[1, 4, 7]

### Make a DataFrame

In [26]:
df = pd.DataFrame(dict(a=['?', '1'], b=[1, 2], c=[1.,  3.3]))
df

   a  b    c
0  ?  1  1.0
1  1  2  3.3

In [27]:
df.dtypes

a     object
b      int64
c    float64
dtype: object

## Quickly replacing a value with a NaN

In [32]:
df['a'] = df['a'].replace('?', np.NaN)
df['a']

0    NaN
1      1
Name: a, dtype: object

## Converting a column to numeric

In [33]:
df.dtypes

a     object
b      int64
c    float64
dtype: object

In [37]:
df['a'] = pd.to_numeric(df['a'])
df['a']

0    NaN
1    1.0
Name: a, dtype: float64

## Selecting columns with only certain dtypes.

In [40]:
df.select_dtypes(include='int')

   b
0  1
1  2

In [41]:
df.select_dtypes(exclude='int')

     a    c
0  NaN  1.0
1  1.0  3.3