# Capstone Project  Order of Presentations

![](https://media.giphy.com/media/SXeezvYc8uRUc/giphy.gif)

In [1]:
import numpy as np
import pandas as pd

In [2]:
students =[
     'Dylan',
     'Michael Blow',
     'Michael Daugherty',
     'Jacob',
     'Ze\'ev',
     'Neil',
     'Song',
     'Miguel',
     'Michael Ono',
     'Benjamin',
     'Ana',
     'Kelly',
     'Beth',
     'Maninder',
    'Viviana'
]

In [3]:
np.random.seed(27608439) # Set the random seed
presenters = np.random.choice(students, size=len(students), replace=False) # radnomly chosen array, no replacement
presenters # numpy array of presenters

array(['Ana', 'Kelly', "Ze'ev", 'Maninder', 'Michael Daugherty', 'Song',
       'Miguel', 'Neil', 'Dylan', 'Beth', 'Benjamin', 'Viviana',
       'Michael Blow', 'Jacob', 'Michael Ono'], dtype='<U17')

In [4]:
# Data frame with the order of presenters. 
present_df = pd.DataFrame(presenters, columns=['Presenter']) 
present_df.index += 1 # Add 1 to the index (so we start with 1)
present_df

            Presenter
1                 Ana
2               Kelly
3               Ze'ev
4            Maninder
5   Michael Daugherty
6                Song
7              Miguel
8                Neil
9               Dylan
10               Beth
11           Benjamin
12            Viviana
13       Michael Blow
14              Jacob
15        Michael Ono

In [7]:
present_df[present_df['Presenter'] == "Ze'ev"] = 'Neil'

# Wait - what is hapenning?

![](https://media.giphy.com/media/CDJo4EgHwbaPS/giphy.gif)

In [30]:
present_df.drop_duplicates(keep='first', inplace=True)
present_df

            Presenter
1                 Ana
2               Kelly
3                Neil
4            Maninder
5   Michael Daugherty
6                Song
7              Miguel
9               Dylan
10               Beth
11           Benjamin
12            Viviana
13       Michael Blow
14              Jacob
15        Michael Ono

![](https://media.giphy.com/media/ieh305yo7DKqC5Mrla/giphy.gif)