# Project 2 Order of Presentations

In [1]:
import numpy as np
import pandas as pd

In [5]:
students =[
     'Dylan',
     'Michael Blow',
     'Michael Daugherty',
     'Jacob',
     'Ze\'ev',
     'Neil',
     'Song',
     'Miguel',
     'Michael Ono',
     'Benjamin',
     'Ana',
     'Kelly',
     'Beth',
     'Maninder',
    'Viviana'
]

In [6]:
np.random.seed(791960) # Set the random seed
presenters = np.random.choice(students, size=len(students), replace=False) # radnomly chosen array, no replacement
presenters # numpy array of presenters

array(['Maninder', 'Kelly', 'Benjamin', "Ze'ev", 'Song', 'Beth',
       'Viviana', 'Michael Blow', 'Miguel', 'Dylan', 'Neil', 'Jacob',
       'Ana', 'Michael Uno', 'Michael Daugherty'], dtype='<U17')

In [7]:
# Data frame with the order of presenters. 
present_df = pd.DataFrame(presenters, columns=['Presenter']) 
present_df.index += 1 # Add 1 to the index (so we start with 1)
present_df

            Presenter
1            Maninder
2               Kelly
3            Benjamin
4               Ze'ev
5                Song
6                Beth
7             Viviana
8        Michael Blow
9              Miguel
10              Dylan
11               Neil
12              Jacob
13                Ana
14        Michael Uno
15  Michael Daugherty

In [8]:
present_df[present_df['Presenter'] == 'Michael Uno'] = 'Michael Ono'

In [9]:
present_df

            Presenter
1            Maninder
2               Kelly
3            Benjamin
4               Ze'ev
5                Song
6                Beth
7             Viviana
8        Michael Blow
9              Miguel
10              Dylan
11               Neil
12              Jacob
13                Ana
14        Michael Ono
15  Michael Daugherty