# Intro to Pandas!  üêº üêº üêº üêº

You can run terminal commands in Jupyter Notebook!

'/Users/jeffhale/Documents/dsi11/DC-Flex/01-Week/intro_to_pandas'

pandas-intro.ipynb

pandas-intro.ipynb

Read the data into a pandas DataFrame

View the DataFrame

In [ ]:
# Check the first five rows

In [ ]:
# Check the last five rows

In [ ]:
# number of rows of columns

In [ ]:
# get info

In [ ]:
# get the index of the data frame. The index is not a column. Notice it is an attribute

In [ ]:
# get a list of columns

In [ ]:
# check for missing values - get the number of missing values

In [ ]:
# check for missing values - get the percentage of missing values

In [ ]:
# Get unique observation

In [ ]:
# get summary statistics

In [ ]:
# Standard Deviation

### 5 ways to select columns

In [ ]:
# Dot notation. I highly suggest you don't use this!

In [ ]:
# Using square brackets - returns a data series

In [ ]:
# Using doube square brackets - returns a data frame

In [ ]:
# Using .loc to select columns, name based
sat.loc[:, 'Math'] # using just ':' gives ALL rows

In [ ]:
sat.loc[0:10, ['Math','Verbal']] # I can slice rows using the ':'

In [ ]:
sat.loc[0:10, ['Math']] # 1 column returns a series

In [ ]:
sat.loc[0:10, ['Math','Verbal']] # two columns retun a data frame!

In [ ]:
# Use iloc, number based

In [ ]:
# Single VS Double brackets

In [ ]:
# Value counts of variabe

In [7]:
# Unique values

AttributeError: 'Series' object has no attribute 'uniquee'

In [ ]:
# Number of unique values
sat['Math'].nunique()

In [ ]:
# Summary statistics of one columns

In [ ]:
# Average of the column

In [ ]:
# Selecting multiple columns

# Filtering

In [ ]:
# Get states where math grade is higher than 550(using a mask variable)

In [ ]:
# using a mask, without defining a variable

In [ ]:
# Get the states with higher than average math grade

In [ ]:
# Get the states with higher than median math grade

## Sorting

In [ ]:
# Ascending

In [ ]:
# Decsending

## Plotting

In [ ]:
# Plot a histogram of Math grades - one way

In [ ]:
# Plot a histogram of Math grades - another way

In [ ]:
# Scatter plot - relationship between two variables

In [ ]:
# Correlation matrix

# Pandas rocks!!!!! üêº üêº üêº üêº üêº