<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Getting Data from HTML Tables with `pd.read_html()` - Solution

_Author: Jeff Hale (DC)_

---

## Learning Objectives

After this lesson students will be able to:
- Scrape tables from websites with `pd.read_html()`
- Read tables in pandas DataFrames
- Know when to try `pd.read_html()`

###  Import pandas under the usual alias

In [1]:
import pandas as pd

#### %autoreload

The following Jupyter magic commands will autoreload packages so you don't have to restart your Jupyter server if you install a new package after you launch the server.

In [2]:
# autoreload packages after install 
%load_ext autoreload
%autoreload 2

## Let's see a faster way to scrape the basketball reference example Riley used

Let's look at the function signature for `pd.read_html()`. This is another way to see the help docs:

In [5]:
help(pd.read_html)
# note, no brackets because you aren't calling the function

Help on function read_html in module pandas.io.html:

read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, attrs=None, parse_dates=False, thousands=',', encoding=None, decimal='.', converters=None, na_values=None, keep_default_na=True, displayed_only=True)
    Read HTML tables into a ``list`` of ``DataFrame`` objects.

    Parameters
    ----------
    io : str, path object or file-like object
        A URL, a file-like object, or a raw string containing HTML. Note that
        lxml only accepts the http, ftp and file url protocols. If you have a
        URL that starts with ``'https'`` you might try removing the ``'s'``.

    match : str or compiled regular expression, optional
        The set of tables containing text matching this regex or string will be
        returned. Unless the HTML is extremely simple you will probably need to
        pass a non-empty string here. Defaults to '.+' (match any non-empty
        string). The default value will return all tables contained on a page.
        This value is converted to a regular expression so that there is
        consistent behavior between Beautiful Soup and lxml.

    flavor : str or None, container of strings
        The parsing engine to use. 'bs4' and 'html5lib' are synonymous with
        each other, they are both there for backwards compatibility. The
        default of ``None`` tries to use ``lxml`` to parse and if that fails it
        falls back on ``bs4`` + ``html5lib``.

    header : int or list-like or None, optional
        The row (or list of rows for a :class:`~pandas.MultiIndex`) to use to
        make the columns headers.

    index_col : int or list-like or None, optional
        The column (or list of columns) to use to create the index.

    skiprows : int or list-like or slice or None, optional
        0-based. Number of rows to skip after parsing the column integer. If a
        sequence of integers or a slice is given, will skip the rows indexed by
        that sequence.  Note that a single element sequence means 'skip the nth
        row' whereas an integer means 'skip n rows'.

    attrs : dict or None, optional
        This is a dictionary of attributes that you can pass to use to identify
        the table in the HTML. These are not checked for validity before being
        passed to lxml or Beautiful Soup. However, these attributes must be
        valid HTML table attributes to work correctly. For example, ::

            attrs = {'id': 'table'}

        is a valid attribute dictionary because the 'id' HTML tag attribute is
        a valid HTML attribute for *any* HTML tag as per `this document
        <http://www.w3.org/TR/html-markup/global-attributes.html>`__. ::

            attrs = {'asdf': 'table'}

        is *not* a valid attribute dictionary because 'asdf' is not a valid
        HTML attribute even if it is a valid XML attribute.  Valid HTML 4.01
        table attributes can be found `here
        <http://www.w3.org/TR/REC-html40/struct/tables.html#h-11.2>`__. A
        working draft of the HTML 5 spec can be found `here
        <http://www.w3.org/TR/html-markup/table.html>`__. It contains the
        latest information on table attributes for the modern web.

    parse_dates : bool, optional
        See :func:`~read_csv` for more details.

    thousands : str, optional
        Separator to use to parse thousands. Defaults to ``','``.

    encoding : str or None, optional
        The encoding used to decode the web page. Defaults to ``None``.``None``
        preserves the previous encoding behavior, which depends on the
        underlying parser library (e.g., the parser library will try to use
        the encoding provided by the document).

    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European
        data).

        .. versionadded:: 0.19.0

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the cell (not column) content, and return the
        transformed content.

        .. versionadded:: 0.19.0

    na_values : iterable, default None
        Custom NA values

        .. versionadded:: 0.19.0

    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to

        .. versionadded:: 0.19.0

    displayed_only : bool, default True
        Whether elements with "display: none" should be parsed

        .. versionadded:: 0.23.0

    Returns
    -------
    dfs : list of DataFrames

    See Also
    --------
    read_csv

    Notes
    -----
    Before using this function you should read the :ref:`gotchas about the
    HTML parsing libraries <io.html.gotchas>`.

    Expect to do some cleanup after you call this function. For example, you
    might need to manually assign column names if the column names are
    converted to NaN when you pass the `header=0` argument. We try to assume as
    little as possible about the structure of the table and push the
    idiosyncrasies of the HTML contained in the table to the user.

    This function searches for ``<table>`` elements and only for ``<tr>``
    and ``<th>`` rows and ``<td>`` elements within each ``<tr>`` or ``<th>``
    element in the table. ``<td>`` stands for "table data". This function
    attempts to properly handle ``colspan`` and ``rowspan`` attributes.
    If the function has a ``<thead>`` argument, it is used to construct
    the header, otherwise the function attempts to find the header within
    the body (by putting rows with only ``<th>`` elements into the header).

        .. versionadded:: 0.21.0

    Similar to :func:`~read_csv` the `header` argument is applied
    **after** `skiprows` is applied.

    This function will *always* return a list of :class:`DataFrame` *or*
    it will fail, e.g., it will *not* return an empty list.

    Examples
    --------
    See the :ref:`read_html documentation in the IO section of the docs
    <io.read_html>` for some examples of reading in HTML tables.

#### Try to read the data directly with `pd.read_html()`

In [6]:
url = 'https://www.basketball-reference.com/'
bball = pd.read_html(url)

In [8]:
bball

[         East Unnamed: 1 Unnamed: 2   W   L
 0   MIL * (1)          F          $  53  12
 1   TOR * (2)          F          $  46  18
 2   BOS * (3)          F          $  43  21
 3     MIA (4)          F          $  41  24
 4     IND (5)          F          $  39  26
 5     PHI (6)          F          $  39  26
 6     BRK (7)          F          $  30  34
 7     ORL (8)          F          $  30  35
 8     WAS (9)          F          $  24  40
 9    CHO (10)          F          $  23  42
 10   CHI (11)          F          $  22  43
 11   NYK (12)          F          $  21  45
 12   DET (13)          F          $  20  46
 13   ATL (14)          F          $  20  47
 14   CLE (15)          F          $  19  46,
           West Unnamed: 1 Unnamed: 2   W   L
 0    LAL * (1)          F          $  49  14
 1      LAC (2)          F          $  44  20
 2      DEN (3)          F          $  43  22
 3      UTA (4)          F          $  41  23
 4      OKC (5)          F          $  40  24
 5      HOU (6)          F          $  40  24
 6      DAL (7)          F          $  40  27
 7      MEM (8)          F          $  32  33
 8      POR (9)          F          $  29  37
 9     NOP (10)          F          $  28  36
 10    SAC (11)          F          $  28  36
 11    SAS (12)          F          $  27  36
 12    PHO (13)          F          $  26  39
 13    MIN (14)          F          $  19  45
 14  GSW x (15)          F          $  15  50,
                     0    1      2
 0     Detroit Pistons  106  Final
 1  Philadelphia 76ers  124    NaN,
   Unnamed: 0   1   2   3   4
 0        DET  29  26  29  22
 1        PHI  34  36  29  25,
                  0    1      2
 0  New York Knicks  136  Final
 1    Atlanta Hawks  131     OT,
   Unnamed: 0   1   2   3   4  OT
 0        NYK  33  34  29  22  18
 1        ATL  24  26  28  40  13,
                    0    1      2
 0  Charlotte Hornets  109  Final
 1         Miami Heat   98    NaN,
   Unnamed: 0   1   2   3   4
 0        CHO  22  37  28  22
 1        MIA  40  11  26  21,
                   0    1      2
 0    Denver Nuggets   97  Final
 1  Dallas Mavericks  113    NaN,
   Unnamed: 0   1   2   3   4
 0        DEN  29  21  35  12
 1        DAL  33  24  27  29,
                 Unnamed: 0  PTS  TRB  AST  GmSc
 0        Trae Young  (ATL)   42    2   11  30.0
 1  Boban Marjanović  (DAL)   31   17    1  29.4
 2    Christian Wood  (DET)   32    7    2  28.7
 3       Joel Embiid  (PHI)   30   14    3  25.0
 4     Julius Randle  (NYK)   33   11    3  24.9]

#### Print the top two rows of each DataFrame

In [18]:
for i in bball:
    print(bball[:2])

[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]
[         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46,           West Unnamed: 1 Unnamed: 2   W   L
0    LAL * (1)          F          $  49  14
1      LAC (2)          F          $  44  20
2      DEN (3)          F          $  43  22
3      UTA (4)          F          $  41  23
4      OKC (5)          F          $  40  24
5      HOU (6)          F          $  40  24
6      DAL (7)          F          $  40  27
7      MEM (8)          F          $  32  33
8      POR (9)          F          $  29  37
9     NOP (10)          F          $  28  36
10    SAC (11)          F          $  28  36
11    SAS (12)          F          $  27  36
12    PHO (13)          F          $  26  39
13    MIN (14)          F          $  19  45
14  GSW x (15)          F          $  15  50]

#### Make a DataFrame from the first table

In [21]:
df1 = bball[0]
df1

         East Unnamed: 1 Unnamed: 2   W   L
0   MIL * (1)          F          $  53  12
1   TOR * (2)          F          $  46  18
2   BOS * (3)          F          $  43  21
3     MIA (4)          F          $  41  24
4     IND (5)          F          $  39  26
5     PHI (6)          F          $  39  26
6     BRK (7)          F          $  30  34
7     ORL (8)          F          $  30  35
8     WAS (9)          F          $  24  40
9    CHO (10)          F          $  23  42
10   CHI (11)          F          $  22  43
11   NYK (12)          F          $  21  45
12   DET (13)          F          $  20  46
13   ATL (14)          F          $  20  47
14   CLE (15)          F          $  19  46

#### What columns are in the first DataFrame?

In [23]:
df1.columns

Index(['East', 'Unnamed: 1', 'Unnamed: 2', 'W', 'L'], dtype='object')

In [24]:
df1.drop(columns=['Unnamed: 1', 'Unnamed: 2'], inplace = True)

#### Clean the DataFrame

In [25]:
df1

         East   W   L
0   MIL * (1)  53  12
1   TOR * (2)  46  18
2   BOS * (3)  43  21
3     MIA (4)  41  24
4     IND (5)  39  26
5     PHI (6)  39  26
6     BRK (7)  30  34
7     ORL (8)  30  35
8     WAS (9)  24  40
9    CHO (10)  23  42
10   CHI (11)  22  43
11   NYK (12)  21  45
12   DET (13)  20  46
13   ATL (14)  20  47
14   CLE (15)  19  46

In [26]:
df1['East'] = df1['East'].str[:3]

In [27]:
df1

   East   W   L
0   MIL  53  12
1   TOR  46  18
2   BOS  43  21
3   MIA  41  24
4   IND  39  26
5   PHI  39  26
6   BRK  30  34
7   ORL  30  35
8   WAS  24  40
9   CHO  23  42
10  CHI  22  43
11  NYK  21  45
12  DET  20  46
13  ATL  20  47
14  CLE  19  46

### Wasn't that lovely? 💐

## Let's do another example with a soccer website ⚽️

- Go to fivethirtyeight's website with soccer predictions: https://projects.fivethirtyeight.com/soccer-predictions/champions-league  

- Inspect it with the Chrome dev tools:

- Right click in the table of numbers on the page and select `Inspect` from the dropdown menu.

#### Do you see HTML tags that indicate it's an HTML table?

```html
<table>
    <th>
    <tr>
        <td>
```

#### Let's try to read it

In [28]:
soccer_url = 'https://projects.fivethirtyeight.com/soccer-predictions/champions-league'

In [29]:
soccer_list = pd.read_html(soccer_url)

#### How many tables (DataFrames) are there?

In [32]:
len(soccer_list)

217

#### Let's look at the mess

In [34]:
soccer_list

AttributeError: 'list' object has no attribute 'head'

### Print the top two rows of each DataFrame

In [38]:
df_soccer = soccer_list[-1]
df_soccer

   Unnamed: 0_level_0 Team rating           Unnamed: 4_level_0  \
                 team         spi off. def.   make round of 16
0       Bayern Munich        94.4  3.5  0.4                  ✓
1           Man. City        94.8  3.2  0.2                  ✓
2                 PSG        89.2  3.2  0.7                  ✓
3           Barcelona        90.3  2.9  0.4                  ✓
4          RB Leipzig        88.1  2.6  0.4                  ✓
5            Atalanta        82.8  2.7  0.7                  ✓
6     Atlético Madrid        83.8  2.1  0.4                  ✓
7            Juventus        84.3  2.4  0.5                  ✓
8         Real Madrid        89.5  2.7  0.4                  ✓
9                Lyon        73.5  1.8  0.6                  ✓
10             Napoli        75.1  2.1  0.8                  ✓
11            Chelsea        85.5  2.4  0.5                  ✓
12          Liverpool        91.9  2.9  0.3                  ✓
13           Valencia        69.5  2.0  0.9                  ✓
14           Dortmund        85.4  2.6  0.6                  ✓
15          Tottenham        76.6  2.2  0.8                  ✓
16               Ajax        76.5  2.5  1.0                  —
17        RB Salzburg        75.1  2.7  1.2                  —
18            Benfica        73.3  2.1  0.8                  —
19              Zenit        76.7  2.0  0.6                  —
20        Inter Milan        79.5  2.3  0.7                  —
21           Shakhtar        70.9  2.2  1.0                  —
22         Leverkusen        82.9  2.4  0.6                  —
23      Dinamo Zagreb        65.4  2.1  1.1                  —
24         Olympiacos        73.8  1.9  0.7                  —
25        Club Brugge        68.4  1.8  0.8                  —
26           Red Star        56.5  1.9  1.4                  —
27          Lokomotiv        60.3  1.6  1.0                  —
28      Slavia Prague        63.2  1.9  1.1                  —
29        Galatasaray        64.8  1.8  1.0                  —
30              Lille        70.8  1.8  0.7                  —
31               Genk        52.6  1.7  1.4                  —

   round-by-round probabilities                                  \
                      make qtrs make semis make final win final
0                          >99%        71%        48%       29%
1                           90%        64%        43%       26%
2                             ✓        54%        26%       12%
3                           87%        49%        25%       11%
4                             ✓        49%        21%        9%
5                             ✓        37%        12%        4%
6                             ✓        37%        12%        4%
7                           53%        22%         8%        3%
8                           10%         6%         3%        2%
9                           47%        10%         2%       <1%
10                          13%         4%        <1%       <1%
11                          <1%        <1%        <1%       <1%
12                            —          —          —         —
13                            —          —          —         —
14                            —          —          —         —
15                            —          —          —         —
16                            —          —          —         —
17                            —          —          —         —
18                            —          —          —         —
19                            —          —          —         —
20                            —          —          —         —
21                            —          —          —         —
22                            —          —          —         —
23                            —          —          —         —
24                            —          —          —         —
25                            —          —          —         —
26                            —          —          —         —
27                            —          —          —         —
28                            —          —          —         —
29                            —          —          —         —
30                            —          —          —         —
31                            —          —          —         —

                      Unnamed: 10_level_0
   Unnamed: 9_level_1 Unnamed: 10_level_1
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
5                 NaN                 NaN
6                 NaN                 NaN
7                 NaN                 NaN
8                 NaN                 NaN
9                 NaN                 NaN
10                NaN                 NaN
11                NaN                 NaN
12                NaN                 NaN
13                NaN                 NaN
14                NaN                 NaN
15                NaN                 NaN
16                NaN                 NaN
17                NaN                 NaN
18                NaN                 NaN
19                NaN                 NaN
20                NaN                 NaN
21                NaN                 NaN
22                NaN                 NaN
23                NaN                 NaN
24                NaN                 NaN
25                NaN                 NaN
26                NaN                 NaN
27                NaN                 NaN
28                NaN                 NaN
29                NaN                 NaN
30                NaN                 NaN
31                NaN                 NaN

#### Which DataFrame do we want?

In [ ]:
The last table

### Now we're rockin! 🎸

## Inspect the DataFrame

#### Q: What do you notice about the column names?

In [ ]:
# Multi Indexed.

In [ ]:
df_soccer.columns = df_soccwer.columns.droplevel(0)

## Clean the Data

Those commas in the column names and the layout of the DF tell us we have a mult-index. That's a bit more advanced. Let's get rid of the highest level index, because we don't need it.

In [42]:
# Drop multi index

df_soccer.columns = df_soccer.columns.droplevel(0)
# found this SO answer from Google https://stackoverflow.com/questions/44023770/pandas-get-rid-of-multiindex/44023799

ValueError: Cannot remove 1 levels from an index with 1 levels: at least one level must be left.

In [45]:
df_soccer

,team,spi,off.,def.,make round of 16,make qtrs,make semis,make final,win final,Unnamed: 9_level_1,Unnamed: 10_level_1
0,Bayern Munich,94.4,3.5,0.4,✓,>99%,71%,48%,29%,NaN,NaN
1,Man. City,94.8,3.2,0.2,✓,90%,64%,43%,26%,NaN,NaN
2,PSG,89.2,3.2,0.7,✓,✓,54%,26%,12%,NaN,NaN
3,Barcelona,90.3,2.9,0.4,✓,87%,49%,25%,11%,NaN,NaN
4,RB Leipzig,88.1,2.6,0.4,✓,✓,49%,21%,9%,NaN,NaN
5,Atalanta,82.8,2.7,0.7,✓,✓,37%,12%,4%,NaN,NaN
6,Atlético Madrid,83.8,2.1,0.4,✓,✓,37%,12%,4%,NaN,NaN
7,Juventus,84.3,2.4,0.5,✓,53%,22%,8%,3%,NaN,NaN
8,Real Madrid,89.5,2.7,0.4,✓,10%,6%,3%,2%,NaN,NaN
9,Lyon,73.5,1.8,0.6,✓,47%,10%,2%,<1%,NaN,NaN
10,Napoli,75.1,2.1,0.8,✓,13%,4%,<1%,<1%,NaN,NaN
11,Chelsea,85.5,2.4,0.5,✓,<1%,<1%,<1%,<1%,NaN,NaN
12,Liverpool,91.9,2.9,0.3,✓,—,—,—,—,NaN,NaN
13,Valencia,69.5,2.0,0.9,✓,—,—,—,—,NaN,NaN
14,Dortmund,85.4,2.6,0.6,✓,—,—,—,—,NaN,NaN
15,Tottenham,76.6,2.2,0.8,✓,—,—,—,—,NaN,NaN
16,Ajax,76.5,2.5,1.0,—,—,—,—,—,NaN,NaN
17,RB Salzburg,75.1,2.7,1.2,—,—,—,—,—,NaN,NaN
18,Benfica,73.3,2.1,0.8,—,—,—,—,—,NaN,NaN
19,Zenit,76.7,2.0,0.6,—,—,—,—,—,NaN,NaN
20,Inter Milan,79.5,2.3,0.7,—,—,—,—,—,NaN,NaN
21,Shakhtar,70.9,2.2,1.0,—,—,—,—,—,NaN,NaN
22,Leverkusen,82.9,2.4,0.6,—,—,—,—,—,NaN,NaN
23,Dinamo Zagreb,65.4,2.1,1.1,—,—,—,—,—,NaN,NaN
24,Olympiacos,73.8,1.9,0.7,—,—,—,—,—,NaN,NaN
25,Club Brugge,68.4,1.8,0.8,—,—,—,—,—,NaN,NaN
26,Red Star,56.5,1.9,1.4,—,—,—,—,—,NaN,NaN
27,Lokomotiv,60.3,1.6,1.0,—,—,—,—,—,NaN,NaN
28,Slavia Prague,63.2,1.9,1.1,—,—,—,—,—,NaN,NaN
29,Galatasaray,64.8,1.8,1.0,—,—,—,—,—,NaN,NaN
30,Lille,70.8,1.8,0.7,—,—,—,—,—,NaN,NaN
31,Genk,52.6,1.7,1.4,—,—,—,—,—,NaN,NaN

### Fix the strings so we can make them into numbers in a minute

In [69]:
df_soccer['make_final'] = df_soccer['make final'].str.replace('%','')
df_soccer['make final'] = df_soccer['make final'].str.replace('—','')
df_soccer['make final'] = df_soccer['make final'].str.replace('<','')


#df_soccer['make final'] = df_soccer['win final'].astype(int)
#df_soccer['win final'] = df_soccer['win final']/100
df_soccer

,team,spi,off.,def.,make round of 16,make qtrs,make semis,make final,win final,Unnamed: 9_level_1,Unnamed: 10_level_1,make_final
0,Bayern Munich,94.4,3.5,0.4,✓,>99%,71%,48%,29%,NaN,NaN,48
1,Man. City,94.8,3.2,0.2,✓,90%,64%,43%,26%,NaN,NaN,43
2,PSG,89.2,3.2,0.7,✓,✓,54%,26%,12%,NaN,NaN,26
3,Barcelona,90.3,2.9,0.4,✓,87%,49%,25%,11%,NaN,NaN,25
4,RB Leipzig,88.1,2.6,0.4,✓,✓,49%,21%,9%,NaN,NaN,21
5,Atalanta,82.8,2.7,0.7,✓,✓,37%,12%,4%,NaN,NaN,12
6,Atlético Madrid,83.8,2.1,0.4,✓,✓,37%,12%,4%,NaN,NaN,12
7,Juventus,84.3,2.4,0.5,✓,53%,22%,8%,3%,NaN,NaN,8
8,Real Madrid,89.5,2.7,0.4,✓,10%,6%,3%,2%,NaN,NaN,3
9,Lyon,73.5,1.8,0.6,✓,47%,10%,2%,<1%,NaN,NaN,2
10,Napoli,75.1,2.1,0.8,✓,13%,4%,1%,<1%,NaN,NaN,1
11,Chelsea,85.5,2.4,0.5,✓,<1%,<1%,1%,<1%,NaN,NaN,1
12,Liverpool,91.9,2.9,0.3,✓,—,—,,—,NaN,NaN,
13,Valencia,69.5,2.0,0.9,✓,—,—,,—,NaN,NaN,
14,Dortmund,85.4,2.6,0.6,✓,—,—,,—,NaN,NaN,
15,Tottenham,76.6,2.2,0.8,✓,—,—,,—,NaN,NaN,
16,Ajax,76.5,2.5,1.0,—,—,—,,—,NaN,NaN,
17,RB Salzburg,75.1,2.7,1.2,—,—,—,,—,NaN,NaN,
18,Benfica,73.3,2.1,0.8,—,—,—,,—,NaN,NaN,
19,Zenit,76.7,2.0,0.6,—,—,—,,—,NaN,NaN,
20,Inter Milan,79.5,2.3,0.7,—,—,—,,—,NaN,NaN,
21,Shakhtar,70.9,2.2,1.0,—,—,—,,—,NaN,NaN,
22,Leverkusen,82.9,2.4,0.6,—,—,—,,—,NaN,NaN,
23,Dinamo Zagreb,65.4,2.1,1.1,—,—,—,,—,NaN,NaN,
24,Olympiacos,73.8,1.9,0.7,—,—,—,,—,NaN,NaN,
25,Club Brugge,68.4,1.8,0.8,—,—,—,,—,NaN,NaN,
26,Red Star,56.5,1.9,1.4,—,—,—,,—,NaN,NaN,
27,Lokomotiv,60.3,1.6,1.0,—,—,—,,—,NaN,NaN,
28,Slavia Prague,63.2,1.9,1.1,—,—,—,,—,NaN,NaN,
29,Galatasaray,64.8,1.8,1.0,—,—,—,,—,NaN,NaN,
30,Lille,70.8,1.8,0.7,—,—,—,,—,NaN,NaN,
31,Genk,52.6,1.7,1.4,—,—,—,,—,NaN,NaN,

#### Turn the object columns into numbers

## Let's make a quick plot

## Summary

You saw how to scrape a website's tables and get them into a pandas DataFrame. 🎉

> Check for Understanding


- What does `pd.read_html()` return?
- When might you want to use `pd.read_html()`?

### Go forth and save time scraping tables with `pd.read_html()`! 🎺