<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Lesson: Linear Regression - Train/Test Split

---

# Introduction

Let's practice train_test_split and k_folds cross validation.


### Here's What We Will Be Doing:

* Working with Boston housing data to predict the value of a home
* Create a test-train split of the data.
* Train each of your models on the training data.
* Evaluate each of the models on the test data.


**Then, we'll try k-folds cross validation.**

* Try a few different splits of data for the same models.
* Perform a k-fold cross-validation and use the cross-validation scores to compare your models. Did this change your rankings?

## Linear Regression Use Case

In this given task, you will be asked to model the median home price of various houses across U.S. Census tracts in the city of Boston. We are predicting a continuous, numeric output (price).

In [2]:
# Regular import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
# read in the dataset 
boston = pd.read_csv('data/boston_data.csv')

FileNotFoundError: [Errno 2] File data/boston_data.csv does not exist: 'data/boston_data.csv'

### 1. Clean Up Data and Perform Exporatory Data Analysis

Boston data is from scikit-learn, so it ought to be pretty clean, but we should always perform exploratory data analysis.

In [9]:
# Exploratory data analysis in a function

In [68]:
# EDA Function 
def eda(dataframe):
    print(f"top 2 rows:\n {dataframe.head(2)}\n ")
    print(f"dataframe types: {dataframe.info} \n ")
    print(f"missing values: {dataframe.isnull().sum()} \n")
    print(f"dataframe describe: {dataframe.describe()}")
    
    for item in dataframe:
        print(item)
        print(dataframe[item].value_counts(), '\n')
        
    return None

In [69]:
# Run the EDA function 
eda(boston)

top 2 rows:
       CRIM   ZN   INDUS   CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0    2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0    7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8

   LSTAT  MEDV
0   4.98  24.0
1   9.14  21.6

dataframe types: <bound method DataFrame.info of         CRIM   ZN   INDUS   CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0    2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0    7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0    7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0    2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0    2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...     ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0   11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0   11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0   11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0   11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0   11.93     0  0.573  6.030  80.8  2.5050    1  273

     PTRATIO  LSTAT  MEDV
0       15.3   4.98  24.0
1       17.8   9.14  21.6
2       17.8   4.03  34.7
3       18.7   2.94  33.4
4       18.7   5.33  36.2
..       ...    ...   ...
501     21.0   9.67  22.4
502     21.0   9.08  20.6
503     21.0   5.64  23.9
504     21.0   6.48  22.0
505     21.0   7.88  11.9

[506 rows x 13 columns]>

missing values: CRIM       0
 ZN        0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
LSTAT      0
MEDV       0
dtype: int64

dataframe describe:              CRIM         ZN       INDUS         CHAS         NOX          RM  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.677082   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO       LSTAT  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534   12.653063
std     28.148861    2.105710    8.707259  168.537116    2.164946    7.141062
min      2.900000    1.129600    1.000000  187.000000   12.600000    1.730000
25%     45.025000    2.100175    4.000000  279.000000   17.400000    6.950000
50%     77.500000    3.207450    5.000000  330.000000   19.050000   11.360000
75%     94.075000    5.188425   24.000000  666.000000   20.200000   16.955000
max    100.000000   12.126500   24.000000  711.000000   22.000000   37.970000

             MEDV
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000
CRIM
14.33370    2
0.01501     2
0.08265     1
1.35472     1
0.03615     1
           ..
0.11460     1
0.03237     1
5.82115     1
0.02187     1
0.03578     1
Name: CRIM, Length: 504, dtype: int64

 ZN
0.0      372
20.0      21
80.0      15
12.5      10
22.0      10
25.0      10
40.0       7
45.0       6
30.0       6
90.0       5
21.0       4
95.0       4
60.0       4
33.0       4
75.0       3
35.0       3
28.0       3
55.0       3
52.5       3
70.0       3
34.0       3
85.0       2
82.5       2
17.5       1
100.0      1
18.0       1
Name:  ZN , dtype: int64

INDUS
18.10    132
19.58     30
8.14      22
6.20      18
21.89     15
        ...
1.21       1
4.15       1
2.02       1
2.01       1
4.00       1
Name: INDUS , Length: 76, dtype: int64

CHAS
0    471
1     35
Name: CHAS, dtype: int64

NOX
0.538    23
0.713    18
0.437    17
0.871    16
0.624    15
         ..
0.435     1
0.422     1
0.518     1
0.385     1
0.389     1
Name: NOX, Length: 81, dtype: int64

RM
6.405    3
5.713    3
6.167    3
6.127    3
6.229    3
        ..
6.701    1
6.232    1
6.593    1
6.800    1
6.625    1
Name: RM, Length: 446, dtype: int64

AGE
100.0    43
96.0      4
98.2      4
95.4      4
97.9      4
         ..
47.6      1
92.7      1
13.9      1
58.4      1
40.1      1
Name: AGE, Length: 356, dtype: int64

DIS
3.4952    5
5.2873    4
5.4007    4
5.7209    4
6.8147    4
         ..
1.7659    1
4.4534    1
2.1000    1
4.0905    1
1.8125    1
Name: DIS, Length: 412, dtype: int64

RAD
24    132
5     115
4     110
3      38
6      26
8      24
2      24
1      20
7      17
Name: RAD, dtype: int64

TAX
666    132
307     40
403     30
437     15
304     14
      ...
280      1
313      1
351      1
422      1
285      1
Name: TAX, Length: 66, dtype: int64

PTRATIO
20.2    140
14.7     34
21.0     27
17.8     23
19.2     19
17.4     18
18.6     17
19.1     17
16.6     16
18.4     16
21.2     15
15.2     13
13.0     12
20.9     11
17.9     11
18.7      9
19.7      8
19.6      8
17.6      7
16.4      6
18.0      5
16.0      5
20.1      5
16.1      5
16.9      5
16.8      4
14.9      4
19.0      4
18.5      4
17.0      4
18.2      4
18.3      4
12.6      3
14.8      3
18.9      3
15.3      3
15.9      2
22.0      2
15.6      2
18.8      2
15.5      1
17.3      1
15.1      1
21.1      1
13.6      1
14.4      1
Name: PTRATIO, dtype: int64

LSTAT
14.10    3
6.36     3
18.13    3
8.05     3
7.79     3
        ..
9.69     1
9.62     1
5.64     1
22.98    1
29.05    1
Name: LSTAT, Length: 455, dtype: int64

MEDV
50.0    16
25.0     8
23.1     7
21.7     7
22.0     7
        ..
12.8     1
29.9     1
9.6      1
36.1     1
13.0     1
Name: MEDV, Length: 229, dtype: int64

## Using `scikit-learn` Linear Regression

### 2. Feature Selection - pick 3-4 predictors (i.e. CRIM, ZN, etc...) that you will use to predict our target variable, MEDV

In [70]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1    ZN      506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  LSTAT    506 non-null    float64
 12  MEDV     506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [72]:
boston.columns

Index(['CRIM', ' ZN ', 'INDUS ', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'LSTAT', 'MEDV'],
      dtype='object')

In [1]:
# make the correlation matrix 
boston.corr()

NameError: name 'boston' is not defined

In [ ]:
# create it in Seaborn

In [ ]:
# Create X and y with your features

In [73]:
features = ['LSTAT', 'RM', 'PTRATIO']
X = boston[features]
y = boston['MEDV']

### 3. Try a 70/30 train/test split (70% of the data for training - 30% for testing)

In [ ]:
## make your first train test split

In [ ]:
## instantiate your Linear Regression model

In [ ]:
## fit the model

In [ ]:
## score the model

### 4. Make a function that accepts X, y, and a float for the % of the data you want to use for training in train_test_split. The function should instantiate, fit, and score the model. Return the score.

In [36]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

In [74]:
def tts(X, y, train_percent):
    '''
    Instantiate, fit, and score the model.

    '''
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=train_percent, random_state=42)
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    score = lr.score(X_test, y_test)
    return score

In [75]:
## Call your model to test it

In [76]:
tts(X, y, 0.7)

0.650904156861472

### 5. K-folds cross validation is a safer way to check performance than a single train_test_split.

Recall that k-fold cross-validation creates a hold-out portion of your dataset for each iteration:

![](http://i.imgur.com/0PFrPXJ.png)

Update: (now k is 5 by default)

#### Perform k-folds cross validation, varying the number of folds from 5 through 10. Which number of folds scores best?

In [77]:
lr = LinearRegression()

In [78]:
len(X)

506

In [83]:
X.head()

   LSTAT     RM  PTRATIO
0   4.98  6.575     15.3
1   9.14  6.421     17.8
2   4.03  7.185     17.8
3   2.94  6.998     18.7
4   5.33  7.147     18.7

In [79]:
X_randomized = X.sample(frac=1)

In [81]:
X_randomized.head()

     LSTAT     RM  PTRATIO
423  23.29  6.103     20.2
414  36.98  4.519     20.2
255   9.25  5.876     16.4
274   3.53  6.758     17.6
319  12.73  6.113     18.4

In [80]:
len(X_randomized)

506

In [66]:
X_randomized.mean()

LSTAT      12.653063
RM          6.284634
PTRATIO    18.455534
dtype: float64

In [67]:
X.mean()

LSTAT      12.653063
RM          6.284634
PTRATIO    18.455534
dtype: float64

In [64]:
cross_val_score(lr, X_randomized, y)

array([-0.05017149, -0.05798199, -0.9982995 , -0.11376518, -2.43381843])

In [57]:
my_scores = [cross_val_score(lr, X_randomized, y, cv = i) for i in range(5, 11)]
my_scores

[array([-1.83134875e-03, -7.76356285e-02, -1.00273133e+00, -1.32586894e-01,
        -2.47019560e+00]),
 array([-0.05419168, -0.01400422, -1.00125488, -0.49140664, -0.28211465,
        -2.32625481]),
 array([-0.06707312, -0.12080609, -0.53634929, -1.09333212, -0.04538688,
        -0.56941207, -1.84488256]),
 array([-8.38299125e-02, -2.55989189e-03, -8.03980446e-02, -8.26655518e-01,
        -8.39011016e-01, -1.33953202e-02, -6.43583318e+00, -1.52255803e+00]),
 array([-0.09704557, -0.03056011, -0.04505547, -1.03753466, -1.15053257,
        -0.10439082, -0.03171531, -6.02524922, -1.20312061]),
 array([-0.15809222, -0.14352328, -3.49774316, -0.9855243 , -0.4809204 ,
        -1.31290272, -0.05747769, -0.23068777, -5.20955684, -0.91223138])]

In [48]:
list_scores = []

for i in range(5, 11):
    my_score = cross_val_score(lr, X, y, cv = i).mean()
    list_scores.append(my_score)

In [49]:
list_scores

[0.430002983179557,
 0.4719272797945379,
 0.4354041099486394,
 0.3406890399199286,
 0.36923864801176465,
 0.2098837291463725]

Which makes you feel more confident about your model performance - TTS or cross validation? Why?